name: fresh_dio_example

on:
  push:
    branches:
      - master
    paths:
      - "packages/fresh_dio/example/**"
  pull_request:
    branches:
      - master
    paths:
      - "packages/fresh_dio/example/**"

jobs:
  build:
    defaults:
      run:
        working-directory: packages/fresh_dio/example
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v2

      - name: Install Dependencies
        run: flutter packages get

      - name: Format
        run: flutter format --set-exit-if-changed lib test

      - name: Analyze
        run: flutter analyze lib test

      - name: Run tests
        run: flutter test --no-pub --coverage --test-randomize-ordering-seed random
