name: fresh_graphql

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/fresh_graphql.yaml"
      - "packages/fresh_graphql/lib/**"
      - "packages/fresh_graphql/test/**"
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/fresh_graphql.yaml"
      - "packages/fresh_graphql/lib/**"
      - "packages/fresh_graphql/test/**"

jobs:
  build:
    defaults:
      run:
        working-directory: packages/fresh_graphql
    runs-on: ubuntu-latest
    container:
      image: google/dart:2.12.2
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: pub get
      - name: Format
        run: dartfmt --dry-run --set-exit-if-changed .
      - name: Analyze
        run: dartanalyzer --fatal-infos --fatal-warnings lib test
      - name: Run tests
        run: dart test --coverage=coverage && pub run coverage:format_coverage --lcov --in=coverage --out=coverage/lcov.info --packages=.packages --report-on=lib
      - name: Check Code Coverage
        uses: VeryGoodOpenSource/very_good_coverage@v1.1.1
