name: fresh_dio

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/fresh_dio.yaml"
      - "packages/fresh_dio/lib/**"
      - "packages/fresh_dio/test/**"
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/fresh_dio.yaml"
      - "packages/fresh_dio/lib/**"
      - "packages/fresh_dio/test/**"

jobs:
  build:
    defaults:
      run:
        working-directory: packages/fresh_dio
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1

      - name: Install Dependencies
        run: dart pub get

      - name: Format
        run: dart format --set-exit-if-changed .

      - name: Analyze
        run: dart analyze --fatal-infos --fatal-warnings .

      - name: Run Tests
        run: |
          pub global activate test_coverage
          export PATH=$PATH:$HOME/.pub-cache/bin
          test_coverage

      - name: Check Code Coverage
        uses: VeryGoodOpenSource/very_good_coverage@v1
        with:
          path: packages/fresh_dio/coverage/lcov.info
